* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-image:url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Ec7hwrKKxik52rser/4k-white-clean-bokeh-background-animation-seamless-loop_4egg2cd6fe__F0000.png');
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #383838;
    color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;

}

li a:hover {
    /* background-color: ; */
}

img{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
/* .worstcar{
  display: block;
  margin-left: 100px;
  margin-right: 0px;  */

}

/* .products{
  padding:10px;
  color:white;
  /* background-color: rgb(77, 150, 61,); */
  /* opacity: .5; */
} */

.products1{
  padding:1px;
  color:black;
   /* background-color: #4d963d; */
  /* opacity:.5; */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* .button{
  background-color:  #2196F3;
   border: none;
   color: black;
   padding: 15px 25px;
   text-align: center;
   font-size: 16px;
   cursor: pointer;
}

.button:hover {
    background-color: green;
} */

.col{
  font-size: 40px;


}
.worstcarimg{
  height:190px;
  width: 100%;

}
.bettercarimg{
  height: 190px;
  width: 290px;
}
.bestcarimg{
  height:190px;
  width:100%;

}

ul li {
  /* border-radius: 100px; */
  /* background-color:rgb(114, 133, 163); */

}



div.worstcar {
  width: 290px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
div.bettercar {
  width: 290px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
div.bestcar {
  width: 290px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.containerCarPic {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.learnMore {
  margin-right: auto;
  margin-left: 300px;
  position: absolute;
  margin-top: 150px;

}
/* #NIOEVEbig{
  margin
} */
.largePicName{
  position:absolute;
  margin-right: auto;
  margin-left: 298px;
  margin-top: 105px;

}      

#secondwhitepane{
  margin-top: 100px;
}

.caro-bkgrnd {
  background-color: white;
}
