* {
  font-family: 'Roboto', sans-serif;
}

/* body {
  background-image:url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Ec7hwrKKxik52rser/4k-white-clean-bokeh-background-animation-seamless-loop_4egg2cd6fe__F0000.png');
  background-position: center;
  background-size: cover; */


#niologotop {
  float: left;
  height: 56.1px;
  width: 150.3px;
  margin-top: 8px;
  margin-left: 10px

}
/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  height: 70px;
}

.navigation-bar {
  background-color: #737777;
  height: 70px;
  width: 100%;
  text-align:center;
}

.navigation-bar img {
float:left;
}

.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-bar li a {
  color: white;
  font-size: 19px;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 40px;
  opacity: 0.7;
}

#menu {
  float: right;
}

img {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.products1 {
  padding:1px;
  color:black;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 27px;
  text-align: center;
}

.col {
  font-size: 40px;
}
.worstcarimg {
  height:190px;
  width: 100%;
}

.bettercarimg {
  height: 190px;
  width: 290px;
}

.bestcarimg {
  height:190px;
  width:100%;
}

div.worstcar {
  width: 290px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.bettercar {
  width: 290px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.bestcar {
  width: 290px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.containerCarPic {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.learnMore {
  margin-right: auto;
  margin-left: 300px;
  position: absolute;
  margin-top: 150px;
}

.largePicName {
  position:absolute;
  margin-right: auto;
  margin-left: 298px;
  margin-top: 105px;
}

#secondwhitepane{
  margin-top: 100px;
}

.caro-bkgrnd {
  background-color: white;
}

.gallery {
  margin-left: 200px;
  margin-right: auto;
  margin-top: 75px;
}
.first-holder {
  display: flex;
}
.img-box, .info-box {
  width:50vw;
  height:50vw;
}
.img-box {
  background-color:white;
}
.info-box {
  color: black;
  line-height: 40px;
  background-color:#d6d8db;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;

}

.imgBoximg{
  height: 50vw;
  width: 50vw;
}

.infoBoxText{
  text-align:center;
  font-size: 20px;
  text-align: left;
  font-size: 3vw;
  text-height: 7vw;
}
#es8Rear {
  width: 100%;
  height: 50%;
}
#NIOEVEbig {
  display: block;
  margin: auto;
}

#NIOEVEopendoor {
  display: block;
  width: auto;
  height: auto;
  max-width: 900px;
  max-height: 500px;

}

.contactmenuitem {
  padding-left: auto;
  margin-left: auto;
  margin-right: 20px;
  position: relative;
  max-padding-right: 100px;
}

.learnMore1 {
  position:absolute;
  margin-right: auto;
  margin-left: 1100px;
  margin-top: 205px;
}

.largePicName1 {
  position:absolute;
  margin-right: auto;
  margin-left: 1098px;
  margin-top: 135px;
}

.YTproductpage {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.horixontal-panel .field-item1 .left-item {
  display: inline-block;
}

.field-item1 {
  display: grid;
  grid-template-columns: 50vw 50vw ;
  grid-template-rows: 565px 565px;
  grid-template-areas: "leftItem rightItem";
}

.leftItem{
  width: 50vw;
  height: 565px;
  background-color: black;
  grid-area: leftItem;
  margin-right: 0px;
}

.rightItem {
  width: 50vw;
  height: ;
  background-color: white;
  grid-area: rightItem;
  padding-left: 0px;
}

.longMainPic{
  width: 100vw;
}

.longMainText{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 10vw;
}
.longMain-container{
  position: relative;
    text-align: center;
    color: white;
}
#longMainText1{
  color: white;
  text-shadow: 1px 1px grey;
  font-size: 50px;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.breakerText1{
  margin-left: 20vw;
  margin-right: 20vw;
}

h1.breakerMain{
  text-align:center;
  color:#8ddae0;

}
h3.breaker{
  text-align: center;
  line-height: 1.6;
}
